.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.products-block {
  width: 90%;
  margin: auto;
}

.products {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding: 10px;
}

@media (max-width:425px) {
  .products {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .spacer {
    flex: 0 !important;
  }

  .filter {
    text-align: right;
    width: 100%;
  }

  .search-block {
    width: 100% !important;
  }
}

@media screen and (min-width:426px) and (max-width:768px) {
  .products {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width:769px) and (max-width:992px) {
  .products {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.category {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background: #1b348f;
  color: #ffffff;
  font-weight: 500;
  border-bottom-left-radius: 4px;
}

.add-to-cart {
  height: 33px;
  background: #0095ff;
  border: navajowhite;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.product-content {
  margin: 10px 0 5px;
}

.product-img-block:hover .product-img {
  transform: scale(1.5);
}

.product-img {
  transition: transform .5s ease;
  width: 60%;
}

.product-img-block {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.product-qty {
  text-align: right;
}

.serachbox {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  outline: none;
}

.search-block {
  padding: 10px;
  position: relative;
  width: 50%;
}

.spacer {
  flex: 1;
}

.filter {
  padding: 10px;
  position: relative;
}

.filter-btn {
  background: #1c348f;
  border: navajowhite;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
}

.clear {
  position: absolute;
  right: 13px;
  top: 13px;
  padding: 7px 10px;
  background: #ffffff;
  cursor: pointer;
}

.categories {
  position: absolute;
  width: max-content;
  right: 40px;
  top: 44px;
  z-index: 999;
  background: white;
  border-radius: 4px;
  border: 1px solid #494949;
}

.active {
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.category-title {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  display: block;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px;
  background: #1c348f;
  color: #ffffff !important;
}

.category-text {
  text-align: left;
  margin-left: 5px;
  min-width: 150px;
  cursor: pointer;
}

.category-item {
  padding: 10px;
  border-bottom: 1px solid #c0c0c0;
}

.category-item:hover {
  background: #c0c0c0;
  color: #1b348f;
}

.category-item:last-child {
  border-bottom: none;
}

.sort-btn {
  position: absolute;
  right: 50px;
  top: 10px;
  background: #1c348f;
  border: navajowhite;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  display: flex;
  text-align: center;
}

.sort-btn>i {
  padding: 3px 0 0 5px;
  font-size: 13px;
}

.products-carosal {
  display: flex;
  /* max-width: 100%; */
  overflow: hidden;
  position: relative;
}

.carosal {
  transition: transform .6s ease,
    -webkit-transform .6s ease;
}

.carosal-btn {
  background: #2075d2;
  color: #fff;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  z-index: 9999;
  outline: none;
}

.left {
  position: absolute;
  left: -15px;
  top: 50%;
}

.right {
  position: absolute;
  right: -15px;
  top: 50%;
}

.carosal-block {
  position: relative;
}

.top-sold {
  width: 100%;
  text-align: center;
  color: #1b348f;
  display: block;
  font-size: 23px;
  font-weight: 800;
}
