/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto,
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

p {
  margin: 0;
  padding: 0;
}

.qty-btn {
  padding: 7px 10px;
  border: navajowhite;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 900;
  cursor: pointer;
}

.qty-btn:focus {
  outline: none;
}

.qty-dec {
  background: #964f48;
}

.qty-inc {
  background: #2075d2;
}

.product-quantity {
  font-size: 16px;
  font-weight: 900;
  padding: 5px;
}

.empty {
  width: 100%;
  font-size: 25px;
  color: #c0c0c0;
  margin-top: 100px;
  text-align: center;
}

.page-title {
  text-align: center;
  color: #2e48f5;
  font-size: 23px;
  width: 100%;
  font-weight: 900;
  padding: 10px;
}
